body {
    font: "Arial";
}

.grid {
    height: 100vh;
    outline: 3px;
    margin: 10px auto;
    /* Agregando grid */
    display: grid;
}

.grid__item { // estas lienas se agregan para poder visualizar el template
    font-size:  2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: crimson; 
}

.main {
    background-color: darkorange;
}

.sidebar {
    background-color: steelblue;
}

.footer {
    background-color: purple;
}